<script src="/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
$("document").ready(function(){
$(".js-ajax-php-json").submit(function(){
var data = {
"action": "schedule"
};
data = $(this).serialize() + "&" + $.param(data);
$.ajax({
type: "POST",
dataType: "json",
url: "response.php", 
data: data,
success: function(data) {
$(".notice-bar").html(
data["response"]
);
}
});
return false;
});
});
</script>
<script type="text/javascript" >     

window.onload = getLocation;      

var geo = navigator.geolocation;    

function getLocation() {      

    if( geo ) {    
        geo.getCurrentPosition( displayLocation );       
           } else  { 
           	alert( "Oops, Geolocation API is not supported");
    
           }     
}         

/*     This function displays the latitude and longitude when the browser has a location.     */   

    function displayLocation( position ) {         
        var latitude = position.coords.latitude;        
        var longitude = position.coords.longitude;            
        var div = document.getElementById( 'location' );     
        //div.innerHTML = "You are at Latitude: " + latitude + ", Longitude: " + longitude;    
        document.getElementById('lat').value = latitude;
        document.getElementById('long').value = longitude;
        if (latitude){
            $('#find-me-button').removeAttr('disabled'); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
           
        } else {
             $('#find-me-button').attr('disabled', 'disabled'); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
        }
}
</script> 
<a href="https://github.com/snacsnoc/runbus">Github</a>
