<script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".js-ajax-php-json").submit(function() {
            var data = {
                "action": "schedule"
            };
            data = $(this).serialize() + "&" + $.param(data);
            $("#notice-bar").fadeTo(2000, 500).slideUp(500, function(){
                $("#notice-bar").slideUp(500);
            });
            $("#notice-bar").html("Working.....");
            $.ajax({
                    type: "POST",
                    url: "response.php",
                    cache: false,
                    data: data,
                })
                .done(function(response) {
                    var parsed_data = JSON.parse(response);

                    $("#notice-bar").html(parsed_data.response);

                    /*
                    console.log(parsed_data);
                    */
                })
                .fail(function(xhr, status, errorThrown) {
                    /*
                    console.log( "Error: " + errorThrown );
                    console.log( "Status: " + status );
                    console.dir( xhr );
                    */
                })
                //Add this to prevent redirection after
                return false; 
        });

    });


    window.onload = getLocation;

    var geo = navigator.geolocation;

    function getLocation() {

        if (geo) {
            geo.getCurrentPosition(displayLocation);
        } else {
            alert("Oops, Geolocation API is not supported");
        }
    }

    /*     This function displays the latitude and longitude when the browser has a location.     */

    function displayLocation(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        var div = document.getElementById('location');
        //div.innerHTML = "You are at Latitude: " + latitude + ", Longitude: " + longitude;    
        document.getElementById('lat').value = latitude;
        document.getElementById('long').value = longitude;
        if (latitude) {
            $('#find-me-button').removeAttr('disabled');
        } else {
            $('#find-me-button').attr('disabled', 'disabled');
        }
    }
</script>
<a href="https://github.com/snacsnoc/runbus">Github</a>